@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Pacifico&display=swap");
html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #f5f5f5;
}

/* Add some style to the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 1rem;
}

/* Add some style to the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

:root {
  --main-text-color: white;
  --main-green-color: #036627;
  --sub-main-green-color: #bdd4c6;
  --main-gray-color: rgb(143, 143, 143);
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0;
  padding: 0;
}

.alert {
  width: 95%;
  background: #036627;
  padding: 2vw;
  border-radius: 2vw;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 900;
  display: none;
  color: white;
}

.textPaci {
  font-family: Pacifico;
}
.xx_large_title {
  font-size: 3vw;
}
.xxx_large_title {
  font-size: 7vw;
}
.title {
  font-size: x-large;
}
.bold {
  font-weight: bold;
}
.sub-title {
  font-size: 1vw;
}
.medium-title {
  font-size: 1.2vw;
}
.weight-600-title {
  font-weight: 600;
}
.algin_center {
  display: flex;
  align-items: center;
}
.justity_center {
  display: flex;
  justify-content: center;
}
.margin_auto {
  display: flex;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.filter_gray {
  color: rgb(143, 143, 143);
}
.filter_green {
  color: #036627;
}
.filter_white {
  color: white;
}
.filter_black {
  color: black !important;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
}
#header_phone {
  display: none;
}
#header ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-left: 0;
  color: white;
  font-size: 1.2vw;
}

.linkHover:hover {
  color: var(--main-green-color);
  font-weight: bold;
}

.linkHover i {
  font-size: 1.2vw;
}

#header,
#header a,
#header_phone,
#header_phone a {
  color: white;
}
.carousel {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
  height: 75vh;
}
#header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin: 0 5%;
  z-index: 1000;
}
#header_phone {
  margin: 0 5%;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: color 0.1s;

  background-color: rgba(221, 221, 221, 0.5);
  padding: 0.8%;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  z-index: 100;
  margin: 2vw;
}

.carousel-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.carousel-button_next {
  right: 0;
}
.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  height: 72vh;
  justify-content: center;
}
.slide img {
  filter: brightness(65%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}
.carousel-caption {
  color: white;
}
.shopNowbutton {
  margin-top: 3%;
  background-color: var(--main-green-color);
  padding: 2% 4%;
  color: var(--main-text-color);
  border-radius: 30px;
  border: none;
}
.shopNowbutton:active {
  background-color: var(--main-gray-color);
}

/* SECTION 1 */
.section1 {
  text-align: center;
}

.section1 h2 {
  font-size: 4vw;
  margin-bottom: 2vw;
  margin-top: 4vw;
}

.section1 p {
  font-size: 2vw;
  margin-bottom: 4vw;
}

.section1 img {
  display: block;
  width: 100%;
  margin-top: 4vw;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.4vw;
}

.grid-item {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 0;
}

.grid-item:nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.grid-item:nth-child(2) {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.grid-item:nth-child(3) {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

/* SECTION 2 */
.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  text-align: left;
  background-color: #f8f7f7;
}

.text {
  padding: 50px;
}

.text h1 {
  font-size: 5vw;
  letter-spacing: 0.7vw;
}

.text p {
  font-size: 2vw;
  text-align: left;
  width: 21vw;
  margin-bottom: 3vw;
}

.text button {
  padding: 1vw 3vw;
  background-color: #015f04;
  color: white;
  border: none;
  border-radius: 2vw;
  font-size: 2vw;
  cursor: pointer;
}

.text button:hover {
  background-color: #3e8e41;
}

.section2 img {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  max-width: 90%;
  height: auto;
  padding: 20px;
}

.img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*SECTION 3*/
.section3 {
  text-align: center;
  padding: 2vw;
  margin-bottom: 3vw;
}

.section3 h2 {
  font-size: 4vw;
  margin-bottom: 2vw;
  margin-top: 4vw;
}

.section3 p {
  font-size: 2.5vw;
  margin-bottom: 5vw;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 5%;
}

.product-detail {
  border: 1px solid gray;
  padding: 4.5%;
  border-radius: 15px;
  margin-bottom: 15%;
  transition: transform 0.3s;
  background-color: white;
}
.product-detail:hover {
  transform: scale(1.08);
}
.product-detail img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.product-infor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4.5% 0;
}
.product-des div {
  margin: 5% 0;
  text-align: left;
  margin-bottom: 0.5vw;
}
.product-action {
  display: flex;
  justify-content: space-between;
}
.addToCart {
  background-color: var(--main-green-color);
  padding: 3% 10%;
  color: var(--main-text-color);
  border-radius: 30px;
  border: none;
}
.sub_addToCart {
  background-color: var(--sub-main-green-color);
  padding: 3% 10%;
  color: black;
  border-radius: 30px;
  border: none;
}
.addToCart:active {
  background-color: var(--main-gray-color);
}
.sub_addToCart:hover {
  background-color: var(--main-green-color) !important;
  color: var(--main-text-color);
}
.sub_addToCart:active {
  background-color: var(--main-gray-color);
}
.markButton {
  background-color: var(--main-text-color);
  border: 1px solid var(--main-gray-color);
  color: var(--main-green-color);
  padding: 4% 5%;
  border-radius: 30px;
}
.markButton:active {
  background-color: red;
}
.showMoreButton {
  background-color: var(--main-green-color);
  padding: 1.5% 4%;
  color: var(--main-text-color);
  border-radius: 30px;
  border: none;
}
.showMoreButton:active {
  background-color: var(--main-gray-color);
  padding: 1.5% 4%;
  color: var(--main-text-color);
  border-radius: 30px;
  border: none;
}

/*SECTION 3 - best*/
.section3-best {
  text-align: center;
  padding: 2vw;
  background-color: #f8f7f7;
  height: 100%;
  padding-bottom: 5vw;
}

.section3-best h2 {
  font-size: 4vw;
  margin-bottom: 2vw;
  margin-top: 4vw;
}

.section3-best p {
  font-size: 2.5vw;
  margin-bottom: 5vw;
}

/* HOW WE WORK */
.hww-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.4vw;
}

.hww-grid-item {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}

.hww-grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 0;
}

.hww-grid-content {
  text-align: left;
}

.hww-grid-content ul {
  list-style-type: none;
  padding: 0;
}

.hww-grid-content .content-title {
  margin: 0;
  font-size: 3vw;
}

.hww-grid-content .content-p {
  margin: 1vw 0 2vw 0;
  max-width: 85%;
}

.hww-grid-content ul .hww-list-title {
  margin: 1.5vw 0 1vw 0;
  font-size: 1.2vw;
}

.hww-grid-content ul .hww-list-content {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 80%;
  font-size: 1.2vw;
}

.hww-grid-content ul .hww-list-content img {
  height: 5vw;
  width: 5vw;
}

.hww-grid-item:nth-child(2) {
  background: url("./static/hwwBg.png") center center/cover no-repeat;
  background-position: right center;
  background-size: 15vh;
  padding: 5vw 5vw 5vw 0;
}

/* HAPPY GALLERY */
.happy-gallery {
  background: url("./static/happyGalleryBG.png") center center/cover no-repeat;
  background-position: right top;
  background-size: 35vh;
  text-align: center;
  background-color: #f8f7f7;
  padding: 2vw 8vw;
  position: relative;
}

.happy-gallery h2 {
  margin-bottom: 0;
  font-size: 3vw;
}

.happy-gallery p {
  margin-top: 1vw;
  margin-bottom: 3vw;
  font-size: 1.5vw;
}

.hg-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1vw;
  margin: 0 2vw;
}

.hg-grid-item {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hg-grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 0;
}

.hg-grid-item-right {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1vw;
  padding: 0;
  margin: 0;
}

.hg-grid-item-right img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 0;
}

.hg-grid-item-right-top-left {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hg-grid-item-right-top-left img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 0;
}

.hg-grid-item-right-top-right {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hg-grid-item-right-top-right img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 0;
}

.hg-grid-item-right-bottom {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.hg-grid-item-right-bottom img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 0;
}

.hg-grid-item:nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.hg-grid-item.grid-item-right {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.hg-grid-item-right-top-left {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.hg-grid-item-right-top-right {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.hg-grid-item-right-bottom {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

/* BLOG */
.blog {
  text-align: center;
  padding: 2vw 8vw;
  position: relative;
}

.blog h2 {
  font-size: 3vw;
  margin-bottom: 2vw;
  margin-top: 4vw;
}

.blog p {
  font-size: 2vw;
  margin-bottom: 5vw;
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2vw;
  height: 2vw;
}

.left {
  left: 0;
  margin-left: 2vw;
}

.right {
  right: 0;
  margin-right: 2vw;
}

.indicator {
  height: 1vw;
}

.blog-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 1vw;
  align-items: center;
  justify-items: center;
  margin-bottom: 3vw;
  color: white;
}

.blog-container .blog-item {
  background-color: #015f04;
  padding: 1vw;
  text-align: center;
  border-radius: 2vw;
  height: 30vw;
  width: 25vw;
}

.blog-item img {
  border-radius: 1vw;
}

.card-blog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
}

.card-img-blog {
  object-fit: cover;
  width: 100%;
  height: 60%;
  margin: 0;
  border-radius: 5px;
}

.card-titles-blog {
  padding: 1vw;
}

.card-titles-blog p {
  font-size: 1vw;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 1em;
  color: #ffffffc5;
}

.card-titles-blog h4 {
  font-size: 1.5vw;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 1em;
}

/* FOOTER */
.footer {
  width: 100%;
  display: flex;
}
.left-footer {
  width: 30%;
}
.left-footer img {
  width: 100%;
  height: auto;
}
.right-footer {
  width: 70%;
  margin-top: 3%;
  padding: 1.5vw;
}

.right-footer h1 {
  font-size: 2.5vw;
}

.enterEmailForm {
  display: flex;
  margin: 3% 0;
}
.enterEmailForm input {
  width: 75%;
  margin-right: 5%;
  padding: 2%;
  background-color: rgb(226, 226, 226);
  border-radius: 30px;
  border: none;
}
.enterEmailForm button {
  width: 20%;
  background-color: #036627;
  color: white;
  border-radius: 30px;
  border: none;
}
.enterEmailForm button:active {
  background-color: rgb(143, 143, 143);
  color: white;
  border-radius: 30px;
  border: none;
}
.optionFooterList {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}
.optionFooterList .option {
  width: 40%;
}

.medium-title {
  font-size: 1.5vw;
}

.optionFooterList .option div {
  margin: 8% 0;
  color: rgb(143, 143, 143);
  font-size: 1.2vw;
}
.optionFooterList .option .contact {
  margin-bottom: 20%;
  color: rgb(143, 143, 143);
  font-size: 1.2vw;
}
.optionFooterList .option div p {
  margin-bottom: 3%;
  color: rgb(143, 143, 143);
  font-size: 1.2vw;
}
.margin_1_b {
  margin-bottom: 1%;
}
.Footer_title {
  width: 100%;
  padding: 1% 0;
  text-align: center;
  font-size: 1.5vw;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    font-size: 10px;
  }
  .xx_large_title {
    font-size: 2rem;
  }
  .title {
    font-size: large;
  }
  .sub-title {
    font-size: 2vw;
  }

  #header {
    display: none;
  }

  #header_phone {
    display: block;
  }

  #header_phone div {
    display: flex;
    justify-content: center;
    color: black;
  }

  #header_phone a {
    color: black;
  }

  #header_phone .first_nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    margin-bottom: 3%;
    color: black;
    font-size: 1.2vw;
  }
  #header_phone .second_nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
    gap: 5%;
    padding-left: 0;
    margin-bottom: 3%;
    color: black;
  }

  .linkHover i {
    font-size: 2vw;
  }

  .carousel {
    --current-slide: 0;
    position: relative;
    overflow: hidden;
    height: 25vh;
  }

  .slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    height: 24vh;
    justify-content: center;
  }

  .hww-grid-content .content-title {
    font-size: 2vw;
  }

  .hww-grid-content .content-p {
    font-size: 1vw;
  }

  .hww-grid-content ul .hww-list-title p {
    font-size: 1vw;
  }

  .happy-gallery {
    position: relative;
  }

  .left,
  .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2vw;
    height: 2vw;
  }

  .left {
    left: 0;
    margin-left: 2vw;
  }

  .right {
    right: 0;
    margin-right: 2vw;
  }

  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 3%;
  }

  .product-detail {
    border: 1px solid gray;
    padding: 4.5%;
    border-radius: 15px;
    margin-bottom: 15%;
  }

  .section4 .image {
    object-fit: cover;
    width: 100%;
    height: 90%;
  }

  .optionFooterList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 8%;
  }
}
